@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
}

.row-content {
    display: flex;
    height: inherit;
    flex-wrap: wrap;
    width: inherit;
}

#quickresume {
    height: 500px;
}

.punch {
    width: 100%;
    height: inherit;
    object-fit: contain;
    object-position: center;
}

.left-col p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    color: white;
    letter-spacing: 0px;
    line-height: 23.5px;
    font-size: medium;
}

.left-col,
.right-col {
    width: 50%;
    height: inherit;
    display: grid;
    align-content: center;
    place-items: center;
}

.left-col {
    background: #2B2B2B;
}

.right-col {
    background: #ffffff;
}

@media (max-width: 979px) {
    #quickresume,
    .row-content {
        height: unset !important;
    }
    .left-col,
    .right-col {
        width: 100% !important;
    }
    #esc1 {
        height: 100vh !important;
    }
    .content-text {
        padding: 40px 0px;
    }
}

#container {
    width: 100%;
}

.ul-centered {
    padding: 0%;
}

.red-bar {
    position: absolute;
    background: red;
    width: 100%;
    height: 200px;
    transform: translateY(35%)
}

@media (max-width: 769px) {
    .red-bar {
        position: unset;
        transform: translateY(120%)
    }
}

:root {
    --bar-width: 100px;
    --bar-height: 10px;
    --bar-spacing: 25px;
}

.row-centered {
    text-align: center !important;
    z-index: 1;
    display: flex;
}

.col-centered {
    display: contents;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
    text-align: left;
    margin: 3 5;
}

.char-list-item {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

.box {
    height: 100%;
    width: 100%;
    padding: 5%;
    background-color: #5f0000;
    -webkit-clip-path: polygon(11px 415px, 881px 367px, 876px 26px, 7px 8px);
    clip-path: polygon(11px 415px, 881px 367px, 876px 26px, 7px 8px);
    font-size: 20px;
}

#esc2 {
    height: 1000px !important;
}

#esc3 {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/01b229e6-1399-4cb7-a1f5-6fea0f3b0cfd/dctmc8i-b4eebcbd-1a66-4ba4-8caa-0ea445964f2b.jpg/v1/fill/w_1920,h_1080,q_75,strp/minimalist_space_4k_by_soefati_dctmc8i-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDgwIiwicGF0aCI6IlwvZlwvMDFiMjI5ZTYtMTM5OS00Y2I3LWExZjUtNmZlYTBmM2IwY2ZkXC9kY3RtYzhpLWI0ZWViY2JkLTFhNjYtNGJhNC04Y2FhLTBlYTQ0NTk2NGYyYi5qcGciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LTZ2lPk5loezq98_QKu7-RsA_tEnnws1Qrmk0t3uEyA');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100% !important;
}

.Section_Title {
    color: white;
    text-align: center;
    padding: 50px 0px;
}

.section_videos {
    display: inline-flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.burger_menu {
    opacity: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 400px;
    height: 300px;
    z-index: -1;
    transition: all 0.5s;
    display: flex;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    margin: 20px;
}

@media (max-width: 767px) {
    .burger_menu {
        width: 100vw;
        height: 100vh;
        border-radius: 0px !important;
        margin: 0px !important;
    }
}

.burger,
ul,
li {
    list-style: none;
    line-height: 50px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 73, 117);
    background: linear-gradient(0deg, rgb(117, 0, 0) 0%, rgb(255, 13, 13) 100%);
    border-radius: 5px;
}

.space_sec {
    display: grid;
    place-items: center;
    flex-direction: row;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.test {
    align-self: center;
    justify-self: center;
    color: white;
}

.mark {
    background-color: red !important;
    color: black;
    -webkit-clip-path: polygon(0 0, 100% 0, 96% 50%, 100% 100%, 0 100%, 5% 51%);
    clip-path: polygon(0 0, 100% 0, 96% 50%, 100% 100%, 0 100%, 5% 51%);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}

.title {
    z-index: 2;
    font-size: 4rem;
    font-weight: bold;
    display: grid;
}

@media (max-width: 676px) {
    .title {
        display: inline-grid;
    }
}

#planet {
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 2;
    align-self: initial;
}

.planet {
    position: absolute;
    z-index: 1;
    top: 65%;
    animation: rotation 25s linear infinite;
}

@media (max-width: 767px) {
    .planet {
        width: 60%;
    }
    .row-centered {
        flex-direction: column !important;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#esc1 {
    background-image: url('img/space-art-minimalist-xq.jpg');
    /**/
    background-size: cover;
    background-repeat: space;
    background-size: cover;
    height: 750px;
}

#esc1::before {
    content: "";
    height: inherit;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(13, 213, 255, 0) 100%);
}

a {
    color: white !important;
    transition: all 0.2s;
}

a:hover {
    color: red !important;
    text-decoration: none !important;
}

.menu-nav {
    margin: auto;
    width: fit-content;
    color: white;
    font-size: 3em;
    padding: 4%;
}

.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2%;
    width: 100px;
    height: 60px;
    cursor: pointer;
    z-index: 6;
    opacity: 0.7;
    transition: all 0.5s;
    filter: drop-shadow(2px 4px 4px black);
}

.menu-wrapper:hover {
    opacity: 1;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: 50px;
    height: 5px;
}

.hamburger-menu {
    position: relative;
    transform: translateY(25px);
    background: rgb(255, 0, 0);
    transition: all 0ms 300ms;
}

.hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    background: rgb(255, 0, 0);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    background: rgb(255, 0, 0);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.list {
    transition: all 0.5s;
}

.list::first-letter {
    color: red !important;
    font-size: 1.3em;
    font-stretch: ultra-expanded;
}

@media only screen and (max-width: 767px) {
    .d-flex {
        display: block !important;
    }
}

.alse {
    display: block;
    place-items: center;
    text-align: left;
    font-size: 20px;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ytplayer {
    opacity: 0.5;
    transition: all 0.5s;
    flex: 1 0 25%;
}

#ytplayer:hover {
    opacity: 1;
}

#letter {
    margin: 1%;
}

.char-tit {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 2px;
    line-height: 2px;
    color: whitesmoke;
}

main.slider {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.a {
    background: black;
}

.b {
    background: gray;
}

.slides-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
}

.slide {
    position: absolute;
    font-size: 90px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: calc(100% / 3);
    width: 100vw;
}

.slides-inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 480px) {
    .swiper-container {
        min-height: 320px;
    }
}

.swiper-container-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
}

@media (min-width: 480px) {
    .swiper-container-wrapper {
        flex-flow: row nowrap;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: #000;
}

.swiper-slide-duplicate,
.swiper-slide {
    text-align: center;
    background-size: cover !important;
    background-position: center !important;
    /* Center slide text vertically */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* Slide content */
}

.swiper-slide-duplicate .description,
.swiper-slide .description,
.swiper-slide-duplicate .title,
.swiper-slide .title {
    display: block;
    opacity: 0;
    transition: 0.5s ease 0.5s;
}

.swiper-slide-duplicate-active .description,
.swiper-slide-active .description,
.swiper-slide-duplicate-active .title,
.swiper-slide-active .title {
    opacity: 1;
}

.swiper-slide-duplicate-active .title,
.swiper-slide-active .title {
    margin-bottom: 0.5rem;
    font-size: 24px;
    color: #000;
    transition: opacity 0.5s ease 0.5s;
}

.swiper-slide-duplicate-active .description,
.swiper-slide-active .description {
    font-size: 16px;
    color: #777;
    transition: opacity 0.5s ease 0.75s;
}

.swiper-slide:nth-child(1) {
    background: url("https://i.ytimg.com/vi/7A9BjukbzkI/maxresdefault.jpg");
}

.swiper-slide:nth-child(2) {
    background: url("../img/insane banner.png");
}

.swiper-slide:nth-child(3) {
    background: url("../img/Ilustración_sin_título (1).png");
}

.swiper-slide:nth-child(4) {
    background: url("../img/Arte_conceptual_-_ASH\ \(1\).png");
}

.swiper-slide:nth-child(5) {
    background: url("../img/Arte\ conceptual\ -\ NOWARD\ KILLERY.png");
}

.swiper-slide:nth-child(6) {
    background: url("../img/Arte_conceptual_-_PROTONO.png");
}

.gallery-top {
    width: 100%;
    height: 75vh;
}

@media (min-width: 480px) {
    .gallery-top {
        width: 80%;
        height: 100vh;
        margin-right: 10px;
    }
}

.gallery-thumbs {
    width: 100%;
    height: 25vh;
    padding-top: 10px;
}

@media (min-width: 480px) {
    .gallery-thumbs {
        width: 20%;
        height: 100vh;
        padding: 0;
    }
}

.gallery-thumbs .swiper-wrapper {
    flex-direction: row;
}

@media (min-width: 480px) {
    .gallery-thumbs .swiper-wrapper {
        flex-direction: column;
    }
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    flex-flow: row nowrap;
    height: 100%;
    opacity: 0.75;
    cursor: pointer;
}

@media (min-width: 480px) {
    .gallery-thumbs .swiper-slide {
        flex-flow: column nowrap;
        width: 100%;
    }
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide-duplicate,
.swiper-slide {
    text-align: center;
    background-size: contain !important;
    background-position: center !important;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat !important;
    backdrop-filter: blur(10px);
}

.grid {
    width: 100%;
    max-width: 940px;
    margin: 50px auto;
}

.grid-item {
    width: 300px;
    float: left;
}