@font-face {
    font-display: swap;
    font-family: sharpsans-web;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/SharpSans-Medium.woff2') format("woff2");
}

@font-face {
    font-display: swap;
    font-family: sharpsans-web;
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/SharpSans-Semibold.woff2') format("woff2");
}

@font-face {
    font-display: swap;
    font-family: sharpsans-web;
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/SharpSans-Bold.woff2') format("woff2");
}

@font-face {
    font-family: 'architects-daughter';
    src: url('./fonts/ArchitectsDaughter-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'hiragino-mincho-pro';
    src: url('./fonts/hiragino-mincho-pro-w3.otf') format('opentype');
}

*,
*::before,
*::after {
    font: inherit;
    list-style: none;
    scroll-behavior: unset !important;
    --ash-grey: #292929;
}

.ash-grey {
    background-color: var(--ash-grey) !important;
}

.link-to,
.link-to span {
    font-size: 3rem;
    transition: all 0.5s ease-in-out;
}

.link-to:hover span {
    color: red;
}

.social-banner {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 1);
}

@media (max-width: 997px) {
    .social-banner {
        position: relative !important;
        bottom: 0;
        height: 50%;
    }
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

/* Default style for all <a> tags */
 
  /* Style for <a> tags on mobile devices */
  @media only screen and (max-width: 600px) {
    a {
      font-size: 21px;
    }
  }

body {
    font-family: sharpsans-web, 'hiragino-mincho-pro', helvetica, arial, sans-serif;
}

.video-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    /*Navigator polyfill for backfrop filter*/
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.flexy {
    display: flex;
}

.solution {
    display: grid;
    place-content: center;
    height: 100%;
}

.common-column {
    width: 50%;
    position: relative;
}

.modification {
    height: 100%;
    width: 100%;
}

::-moz-selection {
    /* Code for Firefox */
    background: red;
}

::selection {
    background: red;
}

.row-content {
    display: flex;
    height: inherit;
    flex-wrap: wrap;
    width: inherit;
}

.punch {
    max-height: 500px;
    max-width: 500px;
    width: inherit;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 510px) {
    .punch {
        max-height: 250px !important;
        max-width: 250px !important;
    }
    .mark {
        width: 235px !important;
    }
}

.blur-load::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;
    backdrop-filter: blur(10px);
    transition: backdrop-filter 200ms ease-in-out;
}

.blur-load.loaded::before {
    content: none;
    animation: none;
    backdrop-filter: blur(0px);
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.blur-load {
    position: relative;
    height: inherit !important;
    background-size: cover;
    background-position: center;
}

.blur-load.loaded > img {
    opacity: 1;
}

.blur-load > img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.left-col p {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    color: white;
    letter-spacing: 0px;
    line-height: 23.5px;
    font-size: medium;
}

.left-col,
.right-col {
    width: 50%;
    height: inherit;
    display: grid;
    align-content: center;
    place-items: center;
    border: solid 2px #000;
}

.left-col {
    background-color: #2b2b2b;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23474747' fill-opacity='1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
}

.right-col {
    background: #ffffff;
    position: relative;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
}

@media (max-width: 1012px) {
    .height,
    .row-content {
        height: unset !important;
    }
    .left-col,
    .right-col {
        width: 100% !important;
    }
    #esc1 {
        height: 74vh !important;
        background-size: cover !important;
        background-position: center !important;
    }
    .content-text {
        padding: 40px 0px;
    }
}

#container {
    width: 100%;
}

.ul-centered {
    padding: 0%;
}

:root {
    --bar-width: 100px;
    --bar-height: 10px;
    --bar-spacing: 25px;
}

.row-centered {
    text-align: center !important;
    z-index: 1;
    display: flex;
}

.col-centered {
    display: contents;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
    text-align: left;
    margin: 3 5;
}

.char-list-item {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

#esc3 {
    background-color: #424f42;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23000000' fill-opacity='0.7'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E") !important;
    background-size: auto !important;
    background-repeat: repeat !important;
    overflow: hidden;
    height: 100% !important;
    border: solid 2px #000;
    position: relative;
}

.Section_Title {
    color: white;
    text-align: left;
    margin-bottom: 15px;
}

.section_videos {
    display: inline-flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.burger_menu {
    opacity: 0;
    position: fixed;
    background: rgb(43, 43, 43);
    background: -moz-linear-gradient(0deg, rgba(43, 43, 43, 00.5em) 0%, rgba(74, 83, 77, 0.5) 100%);
    background: -webkit-linear-gradient(0deg, rgba(43, 43, 43, 0.5) 0%, rgba(74, 83, 77, 0.5) 100%);
    background: linear-gradient(0deg, rgba(43, 43, 43, 0.5) 0%, rgba(74, 83, 77, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b", endColorstr="#4a534d", GradientType=1);
    width: 400px;
    height: 300px;
    z-index: -1;
    transition: all 0.5s;
    display: grid;
    place-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid 2px #000;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

@media (max-width: 767px) {
    .burger_menu {
        width: 100vw;
        height: 100vh;
        border-radius: 0px !important;
        margin: 0px !important;
    }
    #esc3::before {
        display: none !important;
    }
    #esc3 {
        background-image: unset !important;
    }
}

.burger,
ul,
li {
    list-style: none;
    line-height: 60px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43);
    background: -moz-linear-gradient(0deg, rgba(43, 43, 43, 1) 0%, rgba(74, 83, 77, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(43, 43, 43, 1) 0%, rgba(74, 83, 77, 1) 100%);
    background: linear-gradient(0deg, rgba(43, 43, 43, 1) 0%, rgba(74, 83, 77, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#2b2b2b", endColorstr="#4a534d", GradientType=1);
}

.space_sec {
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.test {
    align-self: center;
    justify-self: center;
    color: white;
}

.mark {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    background: red;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color: black;
    -webkit-clip-path: polygon(0 0, 100% 0, 96% 50%, 100% 100%, 0 100%, 5% 51%);
    clip-path: polygon(0 0, 100% 0, 96% 50%, 100% 100%, 0 100%, 5% 51%);
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    font-family: 'architects-daughter', 'hiragino-mincho-pro' !important;
}

.mark .first-headline, .mark .second-headline {
    color: #000;
    line-height: 1.25;
}

.mark .first-headline {
    font-size: 60px;
    font-weight: 600;
}

.mark .second-headline {
    font-size: 30px;
    font-weight: 400;
}

.title {
    font-size: 40px;
    z-index: 2;
}

@media (max-width: 979px) {
    .modification {
        flex-direction: column-reverse;
    }
    .common-column {
        width: 100%;   
    }
    .common-column:first-child {
        height: 100%;
    }
}

@media (max-width: 767px) {
    .row-centered {
        flex-direction: column !important;
    }
}

.static-banner {
    position: absolute;
    inset: 0;
    width: inherit;
    height: inherit;
}

.blur-load.static-banner > img{
    object-fit: cover;
    object-position: center;
    width: inherit;
    height: inherit;
}

#esc1 {
    height: 80vh;
    position: relative;
    border: solid 2px #000;
}

a {
    color: white;
    transition: all 0.2s;
}

a:hover {
    color: red;
    text-decoration: none !important;
}

.menu-nav {
    width: fit-content;
    color: white;
    font-size: 40px;
}

.menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2%;
    width: 100px;
    height: 60px;
    cursor: pointer;
    z-index: 6;
    opacity: 0.7;
    transition: all 0.5s;
    filter: drop-shadow(2px 4px 0px black);
}

.menu-wrapper:hover {
    opacity: 1;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: 50px;
    height: 5px;
}

.hamburger-menu {
    position: relative;
    transform: translateY(25px);
    background: rgb(255, 0, 0);
    transition: all 0ms 300ms;
    border: solid 2px #000;
}

.hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
    border: unset;
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    background: rgb(255, 0, 0);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    border: solid 2px #000;
}

.hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    background: rgb(255, 0, 0);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    border: solid 2px #000;
}

.hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.list {
    transition: all 0.5s;
}

.list::first-letter {
    color: red !important;
    font-size: 1.3em;
    font-stretch: ultra-expanded;
}

@media only screen and (max-width: 767px) {
    .d-flex {
        display: block !important;
    }
}

.alse {
    display: block;
    place-items: center;
    text-align: left;
    font-size: 20px;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#letter {
    color: black !important;
    word-break: break-word;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%);
    padding: 5px;
    max-width: 500px;
    font-family: 'architects-daughter', 'hiragino-mincho-pro', sharpsans-web;
}

#letter::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 15px;
    clip-path: polygon(100% 0, 0% 100%, 75% 100%);
    background: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    left: 10px;
    top: -14px;
}

.char-tit {
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 2px;
    line-height: 2px;
    color: whitesmoke;
}

main.slider {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.a {
    background: black;
}

.b {
    background: gray;
}

.form-container {
    width: 100%;
    display: grid;
    place-content: center;
    padding: 100px 0px 100px 0px;
}

.post-form {
    display: grid;
    width: 500px;
    background: rgba(26, 26, 26, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 0px;
    border: solid 2px #000;
    box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
    .common-column:first-child {
        width: 100% !important;
    }
    .hidden-mobile {
        display: none;
    }
    .form-container {
        place-content: unset !important;
        padding: 0 !important;
    }
    .post-form {
        width: 100% !important;
    }
}

input {
    height: 50px;
    padding-left: 10px;
}

textarea {
    padding: 10px !important;
    border-radius: 0 !important;
    border: solid 2px #000 !important;
}

button[type="submit"] {
    width: 100px;
    height: 50px;
    background: rgb(228, 228, 228);
    box-shadow: 4.5px 4.5px 0px 0px rgba(0, 0, 0, 0.5);
    border: solid 2px #000;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: rgb(0, 0, 0);
    box-shadow: unset;
    color: white !important;
}

input,
textarea {
    margin-bottom: 15px;
    border: none;
    background: rgb(228, 228, 228);
    box-shadow: 4.5px 4.5px 0px 0px rgba(0, 0, 0, 0.5);
    border: solid 2px #000;
}

.charted {
    font-family: 'architects-daughter', 'hiragino-mincho-pro', sharpsans-web;
    background: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    box-shadow: 14px 14px 0px 0px rgba(0, 0, 0, 0.5);
    border: solid 2px #000;
}

.mini-charted {
    font-family: 'architects-daughter', 'hiragino-mincho-pro', sharpsans-web;
    background: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.5);
    border: solid 2px #000;
}

.arrow-btn {
    background: #fff;
    box-shadow: 4.5px 4.5px 0px 0px rgba(0, 0, 0, 0.5);
}

.arrow-btn:hover {
    background: #000;
    box-shadow: unset;
    cursor: pointer;
}

.arrow-btn:hover .arrow-left {
    border-bottom: solid 2px #fff;
    border-left: solid 2px #fff;
}

.arrow-btn:hover .arrow-right {
    border-bottom: solid 2px #fff;
    border-right: solid 2px #fff;
}

.arrow-btn:hover .arrow-up {
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
}

.left-one,
.right-one,
.center-one {
    width: 50px;
    height: 50px;
    border: solid 2px #000;
    display: grid;
    place-content: center;
}

.arrow-left {
    width: 10px;
    height: 10px;
    border-bottom: solid 2px #000;
    border-left: solid 2px #000;
    transform: rotate(45deg);
}

.arrow-right {
    width: 10px;
    height: 10px;
    border-bottom: solid 2px #000;
    border-right: solid 2px #000;
    transform: rotate(-45deg);
}

.arrow-up {
    width: 10px;
    height: 10px;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    transform: rotate(-45deg);
}

.scroll-top-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: -111111;
}

.custom-popup {
    bottom: 0;
}

.bg-darkgrey{
    background-color: #adadad;
}

img {
    cursor: pointer;
}

/* Style the modals */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    backdrop-filter: blur(10px);
  }

  .modal-img {
    margin: 0 auto;
    display: block;
  }

  /* Style the modal content */
  .modal-dialog {
    display: grid;
    place-content: center;
    height: 100%;
  }
  
  /* Style the close button */
  .modal-close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Style the image in the modal */
  .modal-content {
    text-align: center;
    margin: 0 auto;
    height: 90vh;
  }
  
  .inherit {
    height: inherit;
  }

  /* Style the background overlay */
  .modal-overlay {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  @media (min-width: 576px) {
    .modal-dialog {
        max-width: unset !important;
        margin: unset !important;
    }
}

  .video {
    max-width: 100%;
    height: auto;
    width: -webkit-fill-available;
    /*Navigator polyfill for width: -webkit-fill-available;*/
    object-fit: cover;
    object-position: center;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }

  #language-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: rgba(100, 100, 100, 0.5);
    backdrop-filter: blur(10px);
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #language-menu li {
    display: inline;
  }
  
  #language-menu a {
    text-decoration: none;
  }

  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

ol, ul {
    padding-left: 0rem !important;
}

/*slider code*/

.main {
    position: relative;
    overflow: hidden;
    height: 1080px;
}

mark {
    background: whitesmoke;
}

.slider,
.owl-stage-outer,
.image {
    height: 100%;
}

.slide {
    display: flex;
    height: 1080px;
    width: 100%;
    background: #2B2B2B;
}

.slide#Noward {
    flex-direction: row-reverse;
}

.text {
    overflow: hidden;
    width: 0;
    height: 100%;
    padding: 0px 15px;
    background: #2B2B2B !important;
    display: grid;
    align-content: space-around;
}

.image {
    width: 100% !important;
    position: relative;
    overflow: hidden;
}

.character-position {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character-position img {
    width: 100% !important;
    height: inherit !important;
    object-fit: contain;
    object-position: center;
}

.column-min {
    border: solid 2px #000;
}

.column-min p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-weight: 500;
    font-size: 25px;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.5;
    color: whitesmoke;
}

.custom-grey {
    background: rgba(127, 140, 146, 255);
}

.custom-clear {
    background: rgba(148, 128, 137, 255);
}

.custom-orange {
    background: rgba(175, 138, 119, 255);
}

.middle-size {
    height: auto;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border: solid 2px #000;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.img-container {
    width: 100%;
    height: auto;
    display: flex;
    place-content: center;
    place-items: center;
}

.backimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.customized {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    place-content: space-between;
    user-select: none;
    height: 0;
}

.customized button {
    border: none;
    border-radius: 0%;
    background: transparent;
    cursor: pointer;
}

.text-content {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0px 30px;
}

.text-content h2 {
    margin-bottom: 10px;
}

@media (max-width: 979px) {
    .mobile-hidden {
        display: none;
    }
    .text {
        width: 100% !important;
    }
}

.text {
    transition: all 0.7s ease-in-out;
}

.image {
    transition: all 0.7s ease-in-out;
}

.owl-item:is(.active) .text {
    width: 70%;
}

.owl-item:is(.active) .image {
    width: 30% !important;
}

.owl-prev,
.owl-next {
    outline: none !important;
    box-shadow: none !important;
}

.slide_main_title {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    background-color: #4a534d;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    position: relative;
    height: 100%;
}

.slide_main_title h2 {
    text-align: center;
    z-index: 2;
}

.owl-item:is(.active) .slide_main_title::after {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0px);
}

.slide_main_title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 1);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.slide_main_title * {
    z-index: 1;
    position: relative;
}

.slide_main_title h2 {
    font-size: 4rem;
}

.slide_main_title .portrait_subtitle {
    color: red;
    letter-spacing: 1px;
    font-size: 20px;
}

#portrait {
    border: solid 2px #000;
}

.backsliced-images {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.slice-img {
    width: 33.3333333333%;
    height: 100%;
}

.slice-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 767px) {
    .backsliced-images {
        flex-direction: column;
    }
    .slice-img {
        width: 100% !important;
    }
    h2 > .charted{
        font-size: 35px;
    }
}

:root {
    --transition-speed: 0.5s;
  }
  
  .speaker-box {
    width: 300px;
    height: 415px;
    background: rgb(20, 20, 24);
    background-image: linear-gradient(
      0deg,
      rgba(20, 20, 24, 1) 0%,
      rgba(35, 35, 46, 1) 100%
    );
    border-radius: 10px;
    margin: 0 auto;
    transition: all var(--transition-speed) ease-out;
    background-size: 100% 300%;
    transform: perspective(600px) rotateX(15deg);
    cursor: pointer;
  }
  
  .speaker-box:hover {
    transform: perspective(600px) rotateX(0deg);
    background-size: 200% 100%;
  }
  
  .speaker-box:hover .speaker-image {
    transform: translateY(-100px) scale(0.6);
    transition: var(--transition-speed);
    border-radius: 50%;
  }
  
  .user-name p {
    color: white;
  }
  
  .user-name {
    transition: var(--transition-speed);
  }
  
  .speaker-box:hover .user-name {
    opacity: 0;
  }
  
  .text-box {
    font-size: 14px;
    font-style: italic;
    opacity: 0;
    transition: visibility 0s, opacity var(--transition-speed) linear;
    z-index: 5;
    display: table;
    transform: translateY(-180px);
    background: var(--bg-primary);
    border-radius: 15px;
    color: white !important;
  }
  
  .speaker-box:hover .text-box {
    transition: visibility 0s, opacity var(--transition-speed) linear;
    visibility: visible;
    opacity: 1;
  }
  
  .speaker-image {
    transition: var(--transition-speed);
    border-radius: 15px;
    transform: translateY(0px) scale(0.8);
    z-index: 2;
  }
  
  @media (max-width: 767px) {
    .speaker-box {
      height: 500px;
      width: auto;
      transform: perspective(600px) rotateX(0deg);
    }
  
    .speaker-box .text-box {
      transform: translateY(-170px);
      visibility: visible;
      opacity: 1;
    }
  
    .speaker-box .user-name {
      transform: translateY(-155px);
      visibility: visible;
      opacity: 1;
    }
  
    .speaker-box:hover .user-name {
      visibility: visible;
      opacity: 1;
    }
  
    .speaker-box .speaker-image {
      transform: translateY(-100px) scale(0.6);
      transition: var(--transition-speed);
      border-radius: 50%;
    }
  }

  #speakers {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20version%3D%271.1%27%20height%3D%27200px%27%3E%3Ctext%20x%3D%2715%27%20y%3D%2727%25%27%20fill%3D%27white%27%20font-size%3D%274rem%27%20font-weight%3D%27600%27%20opacity%3D%270.1%27%20font-family%3D%27Roobert%2CHelvetica%20Neue%2CHelvetica%2CArial%2Csans-serif%27%3EINSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%3C%2Ftext%3E%3Ctext%20x%3D%275%27%20y%3D%2760%25%27%20fill%3D%27white%27%20font-size%3D%274rem%27%20font-weight%3D%27600%27%20opacity%3D%270.1%27%20font-family%3D%27Roobert%2CHelvetica%20Neue%2CHelvetica%2CArial%2Csans-serif%27%3EA%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%3C%2Ftext%3E%3Ctext%20x%3D%270%27%20y%3D%2793%25%27%20fill%3D%27white%27%20font-size%3D%274rem%27%20font-weight%3D%27600%27%20opacity%3D%270.1%27%20font-family%3D%27Roobert%2CHelvetica%20Neue%2CHelvetica%2CArial%2Csans-serif%27%3EINSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%3C%2Ftext%3E%3Ctext%20x%3D%275%27%20y%3D%27124%25%27%20fill%3D%27white%27%20font-size%3D%274rem%27%20font-weight%3D%27600%27%20opacity%3D%270.1%27%20font-family%3D%27Roobert%2CHelvetica%20Neue%2CHelvetica%2CArial%2Csans-serif%27%3EA%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20INSaNE%20%7C%20A%20Broken%20Hero%20%3C%2Ftext%3E%3C%2Fsvg%3E');
    background-position: center;
  }
  