@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    font-family: 'Urbanist', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

mark {
    background: whitesmoke;
}

.slider,
.owl-stage-outer,
.image {
    height: 100%;
}

.slide {
    display: flex;
    height: 1000px;
    width: 100%;
    background: #2B2B2B;
}

.slide#Noward {
    flex-direction: row-reverse;
}

.text {
    overflow: hidden;
    width: 0;
    height: 100%;
    padding: 0px 15px;
    background: #2B2B2B !important;
    display: grid;
    align-content: space-around;
}

.image {
    width: 100% !important;
    position: relative;
    overflow: hidden;
}

.character-position {
    position: absolute;
    width: fit-content !important;
    height: 100% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.character-position img {
    width: 100% !important;
    height: inherit !important;
    object-fit: contain;
    object-position: center;
}

.column-min {
    border: solid 2px #000;
}

.column-min p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-weight: 500;
    font-size: 25px;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.5;
    color: whitesmoke;
}

.custom-grey {
    background: rgba(127, 140, 146, 255);
}

.custom-clear {
    background: rgba(148, 128, 137, 255);
}

.custom-orange {
    background: rgba(175, 138, 119, 255);
}

.middle-size {
    height: auto;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border: solid 2px #000;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.img-container {
    width: 100%;
    height: auto;
    display: flex;
    place-content: center;
    place-items: center;
}

.backimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.customized {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    place-content: space-between;
    user-select: none;
    height: 0;
}

.customized button {
    border: none;
    border-radius: 0%;
    background: transparent;
    cursor: pointer;
}

.text-content {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0px 30px;
}

.text-content h1 {
    margin-bottom: 10px;
}

@media (max-width: 979px) {
    .mobile-hidden {
        display: none;
    }
    .text {
        width: 100% !important;
    }
}

.text {
    transition: all 0.7s ease-in-out;
}

.image {
    transition: all 0.7s ease-in-out;
}

.owl-item:is(.active) .text {
    width: 70%;
}

.owl-item:is(.active) .image {
    width: 30% !important;
}

.owl-prev,
.owl-next {
    outline: none !important;
    box-shadow: none !important;
}

.slide_main_title {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(74%2c 83%2c 77%2c 1)'%3e%3c/rect%3e%3cpath d='M75.677%2c436.535C100.003%2c437.965%2c127.29%2c436.046%2c140.605%2c415.637C154.83%2c393.834%2c151.661%2c364.234%2c136.785%2c342.87C123.627%2c323.975%2c98.7%2c322.686%2c75.677%2c322.395C51.891%2c322.094%2c24.266%2c321.01%2c11.831%2c341.289C-0.924%2c362.09%2c9.165%2c388.439%2c22.751%2c408.707C34.646%2c426.452%2c54.351%2c435.281%2c75.677%2c436.535' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M326.536%2c264.706C372.649%2c265.133%2c414.241%2c238.441%2c437.369%2c198.545C460.57%2c158.523%2c460.029%2c110.753%2c439.938%2c69.083C416.436%2c20.339%2c380.62%2c-29.519%2c326.536%2c-31.327C270.366%2c-33.205%2c223.148%2c10.194%2c199.197%2c61.036C178.345%2c105.301%2c193.26%2c155.037%2c219.2%2c196.526C243.284%2c235.047%2c281.108%2c264.286%2c326.536%2c264.706' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1270.187%2c520.451C1295.231%2c520.051%2c1314.012%2c499.588%2c1325.444%2c477.302C1335.796%2c457.121%2c1336.749%2c433.15%2c1324.883%2c413.821C1313.521%2c395.312%2c1291.892%2c388.042%2c1270.187%2c387.293C1246.752%2c386.484%2c1221.117%2c390.018%2c1208.533%2c409.804C1195.229%2c430.722%2c1199.721%2c457.462%2c1211.787%2c479.117C1224.229%2c501.446%2c1244.629%2c520.859%2c1270.187%2c520.451' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M201.801%2c467.537C225.526%2c468.405%2c245.81%2c452.556%2c258.108%2c432.249C270.932%2c411.073%2c277.32%2c384.726%2c264.932%2c363.291C252.551%2c341.869%2c226.503%2c333.424%2c201.801%2c334.823C179.491%2c336.087%2c160.418%2c350.062%2c149.951%2c369.805C140.143%2c388.306%2c142.393%2c409.875%2c152.207%2c428.373C162.788%2c448.317%2c179.239%2c466.711%2c201.801%2c467.537' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1215.073%2c233.135C1258.912%2c231.212%2c1287.038%2c192%2c1309.027%2c154.026C1331.085%2c115.934%2c1350.622%2c72.248%2c1331.075%2c32.808C1309.714%2c-10.291%2c1263.138%2c-37.422%2c1215.073%2c-35.541C1169.688%2c-33.765%2c1135.723%2c1.532%2c1113.798%2c41.31C1092.774%2c79.453%2c1085.335%2c124.431%2c1105.669%2c162.946C1127.35%2c204.013%2c1168.679%2c235.17%2c1215.073%2c233.135' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M748.989%2c562.764C780.035%2c564.013%2c807.172%2c542.169%2c821.353%2c514.523C834.388%2c489.111%2c828.826%2c459.627%2c814.59%2c434.868C800.301%2c410.016%2c777.637%2c389.712%2c748.989%2c388.663C718.62%2c387.551%2c688.581%2c402.808%2c674.505%2c429.74C661.237%2c455.126%2c672.06%2c484.086%2c686.054%2c509.079C700.493%2c534.866%2c719.459%2c561.576%2c748.989%2c562.764' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M916.401%2c220.604C939.038%2c220.907%2c964.421%2c217.121%2c975.318%2c197.277C985.976%2c177.87%2c974.9%2c154.991%2c962.512%2c136.64C951.868%2c120.871%2c935.425%2c109.829%2c916.401%2c110C897.661%2c110.169%2c881.985%2c121.787%2c871.705%2c137.457C860.063%2c155.204%2c850.108%2c177.039%2c860.158%2c195.734C870.561%2c215.086%2c894.432%2c220.31%2c916.401%2c220.604' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M451.634%2c671.111C502.231%2c671.04%2c533.126%2c621.65%2c557.973%2c577.574C582.203%2c534.592%2c603.11%2c485.59%2c581.119%2c441.421C557.095%2c393.17%2c505.518%2c362.652%2c451.634%2c363.991C399.752%2c365.28%2c356.031%2c401.165%2c332.836%2c447.591C311.947%2c489.403%2c322.842%2c536.599%2c344.778%2c577.872C368.556%2c622.612%2c400.968%2c671.182%2c451.634%2c671.111' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M659.853%2c81.031C675.201%2c80.724%2c691.782%2c77.514%2c699.378%2c64.174C706.919%2c50.93%2c700.857%2c35.275%2c693.508%2c21.924C685.791%2c7.904%2c675.842%2c-6.977%2c659.853%2c-7.635C643.06%2c-8.326%2c629.433%2c4.384%2c621.036%2c18.943C612.647%2c33.489%2c608.592%2c51.572%2c617.494%2c65.81C626.019%2c79.445%2c643.775%2c81.352%2c659.853%2c81.031' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M353.684%2c142.368C381.159%2c141.119%2c400.394%2c118.155%2c413.597%2c94.028C426.147%2c71.094%2c431.188%2c44.774%2c420.026%2c21.134C406.978%2c-6.502%2c384.245%2c-32.713%2c353.684%2c-32.868C322.947%2c-33.024%2c300.525%2c-6.722%2c286.168%2c20.456C272.897%2c45.579%2c269.763%2c75.085%2c283.528%2c99.941C297.719%2c125.565%2c324.423%2c143.698%2c353.684%2c142.368' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1491.081%2c487.567C1544.373%2c484.518%2c1589.548%2c454.005%2c1618.114%2c408.913C1649.258%2c359.752%2c1672.698%2c297.907%2c1642.901%2c247.918C1613.539%2c198.658%2c1548.399%2c193.966%2c1491.081%2c195.795C1437.839%2c197.494%2c1384.999%2c212.969%2c1355.166%2c257.1C1321.347%2c307.128%2c1305.432%2c373.031%2c1336.107%2c425.045C1366.435%2c476.471%2c1431.475%2c490.977%2c1491.081%2c487.567' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M242.11%2c238.59C282.181%2c237.418%2c321.527%2c218.897%2c339.664%2c183.146C356.487%2c149.985%2c341.55%2c112.339%2c322.298%2c80.527C303.929%2c50.175%2c277.564%2c23.245%2c242.11%2c21.952C204.63%2c20.585%2c171.449%2c42.774%2c151.104%2c74.281C128.6%2c109.133%2c114.042%2c152.867%2c134.143%2c189.158C154.698%2c226.269%2c199.705%2c239.83%2c242.11%2c238.59' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1050.134%2c371.696C1077.255%2c369.913%2c1093.383%2c344.639%2c1106.92%2c321.07C1120.381%2c297.634%2c1134.854%2c270.572%2c1121.811%2c246.901C1108.487%2c222.719%2c1077.742%2c217.676%2c1050.134%2c218.009C1023.256%2c218.334%2c995.887%2c225.958%2c981.393%2c248.596C965.8%2c272.95%2c964.655%2c304.247%2c978.754%2c329.495C993.198%2c355.36%2c1020.573%2c373.639%2c1050.134%2c371.696' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1124.493%2c385.525C1140.757%2c384.282%2c1151.488%2c370.618%2c1159.805%2c356.587C1168.358%2c342.158%2c1176.468%2c325.527%2c1168.942%2c310.537C1160.823%2c294.366%2c1142.587%2c286.428%2c1124.493%2c286.257C1106.074%2c286.083%2c1088.065%2c293.902%2c1078.564%2c309.683C1068.774%2c325.944%2c1068.574%2c346.573%2c1078.406%2c362.808C1087.915%2c378.51%2c1106.189%2c386.924%2c1124.493%2c385.525' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1355.09%2c398.342C1388.163%2c400.382%2c1417.449%2c375.57%2c1431.286%2c345.461C1443.296%2c319.328%2c1430.562%2c291.101%2c1415.687%2c266.485C1401.504%2c243.014%2c1382.512%2c219.575%2c1355.09%2c219.367C1327.409%2c219.157%2c1305.704%2c241.02%2c1292.878%2c265.551C1281.055%2c288.164%2c1282.777%2c313.863%2c1293.603%2c336.97C1306.771%2c365.076%2c1324.111%2c396.431%2c1355.09%2c398.342' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M333.088%2c404.341C355.091%2c404.513%2c378.343%2c397.549%2c388.865%2c378.224C399.064%2c359.493%2c391.11%2c337.109%2c379.403%2c319.281C368.988%2c303.42%2c352.033%2c294.343%2c333.088%2c293.284C311.763%2c292.092%2c288.43%2c295.606%2c276.845%2c313.549C264.472%2c332.712%2c266.788%2c357.973%2c278.8%2c377.364C290.205%2c395.776%2c311.431%2c404.172%2c333.088%2c404.341' fill='rgba(15%2c 24%2c 16%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    position: relative;
    height: 100%;
}

.slide_main_title h1 {
    text-align: center;
}

.owl-item:is(.active) .slide_main_title::after {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0px);
}

.slide_main_title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 1);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in-out;
}

.slide_main_title * {
    z-index: 1;
    position: relative;
}

.slide_main_title h1 {
    font-size: 5rem;
}

.slide_main_title .portrait_subtitle {
    color: red;
    letter-spacing: 1px;
    font-size: 20px;
}


/*
.slide .image:hover~.text {
    
}
*/