a {
    color: white;
    text-decoration: none;
}

.characters {
    width: 100%;
    height: 100%;
    display: flex;
    /*place-content: center;*/
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
}

.char-head {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center 50%;
    transition: background 1s cubic-bezier(.77, 1.94, .31, 1.52);
    /*
    
    cubic-bezier(1, 1.64, 0.05, 1.25)
    */
}

.character_container:nth-child(1) .char-head {
    background-image: url("  https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3a5ef8c2-e760-454f-a749-b700e7b78d60/ddd9qwk-73debecf-bbcc-4783-bcd5-2fe5787c9c70.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvM2E1ZWY4YzItZTc2MC00NTRmLWE3NDktYjcwMGU3Yjc4ZDYwXC9kZGQ5cXdrLTczZGViZWNmLWJiY2MtNDc4My1iY2Q1LTJmZTU3ODdjOWM3MC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.ocgurTTVrqNXkSzYDMx7b2CPp2kaprjG3yycU6UgfoU");
    /*
  
    */
}

.character_container:nth-child(2) .char-head {
    background-image: url("b6416f4ac11522c425d7b52bd39df2e40c2487bc_s2_n2.png");
}

.character_container:nth-child(3) .char-head {
    background-image: url("https://i.pinimg.com/originals/b4/e5/55/b4e555eb4e72cacfb794d28e90a8a596.png");
    /*
    
    */
}

.character_container:hover .char-head {
    background-size: 100%;
    background-position: center 0%;
}

.character_container:hover .char-content {
    opacity: 1;
}

.character_container:hover .char-content>p {
    opacity: 1;
}

.char-back {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 445px;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    background-position: center center;
}

@keyframes back {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 125%
    }
    100% {
        background-size: 100%
    }
}

.character_container:nth-child(1) .char-back {
    background: url("Diamond-Sunset.svg");
    background-size: cover;
}

.character_container:nth-child(1):hover .char-back {
    background: url("43-439772_nebula-pink-galaxy-stars-hd-mobile-wallpaper-iphone.jpg");
    animation: back 10s ease-in-out infinite;
}

.character_container:nth-child(2) .char-back {
    background: url("pat.svg");
    background-size: cover;
}

.character_container:nth-child(2):hover .char-back {
    background: url("57168.jpg");
    animation: back 10s ease-in-out infinite;
}

.character_container:nth-child(3) .char-back {
    background: url("Liquid-Cheese.svg");
    background-size: cover;
}

.character_container:nth-child(3):hover .char-back {
    background: url("Space-Phone-Wallpaper-152-1080x2340.jpg");
    animation: back 10s ease-in-out infinite;
}

.char-content {
    padding: 2%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    opacity: 0;
    display: grid;
    top: 84%;
    background: rgb(25 25 25 / 50%);
}

.char-content:target {
    top: 0%;
}

.char-content>p {
    color: white;
    transition: all 1.5s ease-in-out;
    opacity: 0;
    margin: 0;
    letter-spacing: 1.5px;
}

.tab-info {
    display: block;
}

.tab-info>p:nth-child(1) {
    color: white;
    font-weight: bold;
    margin: 0;
}

.tab-info>p:nth-child(2) {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0;
}

.tab-info>p:nth-child(3) {
    color: rgb(195, 255, 31);
    font-size: 2.5em;
    line-height: 25px;
    letter-spacing: 15px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin: 0;
}

.character_container {
    flex: 1 0 25%;
    height: 100%;
    width: 100%;
    cursor: url(47989.png), auto;
}

@media (max-width: 807px) {
    .character_container {
        flex: 1 0 100%;
        height: 100%;
        width: 100%;
    }
    #esc3 {
        height: 100%;
    }
    .char-head {
        background-position: center 100%;
    }
    .char-content {
        top: 0%;
    }
    .link-container {
        display: none;
    }
}

.link-container {
    position: absolute;
    right: 10px;
    top: 25px;
}

.text-content {
    margin: 20px;
}

.text-content>p {
    color: white;
    font-size: 20px;
    text-align: center;
}
