a {
    color: white;
    text-decoration: none;
}

.characters {
    width: 100%;
    height: 100%;
    display: flex;
    /*place-content: center;*/
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
}

.char-head {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center 50%;
    transition: background 1s cubic-bezier(.77, 1.94, .31, 1.52);
    /*
    
    cubic-bezier(1, 1.64, 0.05, 1.25)
    */
}

.character_container:nth-child(1) .char-head {
    background-image: url("NOWARD\ KILLERY.png");
    background-size: 80%;
}

.character_container:nth-child(1):hover .char-head {
    background-size: 135%;
    background-position: center 0%;
}

.character_container:nth-child(2) .char-head {
    background-image: url("b6416f4ac11522c425d7b52bd39df2e40c2487bc_s2_n2.png");
}

.character_container:nth-child(2):hover .char-head {
    background-size: 80%;
    background-position: center 0%;
}

.character_container:nth-child(3) .char-head {
    background-image: url("PROTONO.png");
    background-size: 55%;
}

.character_container:hover .char-head {
    background-size: 100%;
    background-position: center 0%;
}

.character_container:hover .char-content {
    opacity: 1;
}

.character_container:hover .char-content>p {
    opacity: 1;
}

.char-back {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 445px;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    background-position: center center;
}

@keyframes back {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 125%
    }
    100% {
        background-size: 100%
    }
}

.character_container:nth-child(1) .char-back {
    background: url("Diamond-Sunset.svg");
    background-size: cover;
}

.character_container:nth-child(1):hover .char-back {
    background: url("43-439772_nebula-pink-galaxy-stars-hd-mobile-wallpaper-iphone.jpg");
    animation: back 10s ease-in-out infinite;
}

.character_container:nth-child(2) .char-back {
    background: url("pat.svg");
    background-size: cover;
}

.character_container:nth-child(2):hover .char-back {
    background: url("57168.jpg");
    animation: back 10s ease-in-out infinite;
}

.character_container:nth-child(3) .char-back {
    background: url("Liquid-Cheese.svg");
    background-size: cover;
}

.character_container:nth-child(3):hover .char-back {
    background: url("Space-Phone-Wallpaper-152-1080x2340.jpg");
    animation: back 10s ease-in-out infinite;
}

.character_container:nth-child(1) .char-content {
    background: rgb(226, 149, 135);
    background: -moz-linear-gradient(270deg, rgba(226, 149, 135, 0.8015581232492998) 0%, rgba(214, 109, 117, 0.7987570028011204) 100%);
    background: -webkit-linear-gradient(270deg, rgba(226, 149, 135, 0.8015581232492998) 0%, rgba(214, 109, 117, 0.7987570028011204) 100%);
    background: linear-gradient(270deg, rgba(226, 149, 135, 0.8015581232492998) 0%, rgba(214, 109, 117, 0.7987570028011204) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e29587", endColorstr="#d66d75", GradientType=1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.character_container:nth-child(2) .char-content {
    background: rgb(44, 83, 100);
    background: -moz-linear-gradient(270deg, rgba(44, 83, 100, 0.8015581232492998) 0%, rgba(32, 58, 67, 0.7987570028011204) 48%, rgba(15, 32, 39, 0.7959558823529411) 100%);
    background: -webkit-linear-gradient( 270deg, rgba(44, 83, 100, 0.8015581232492998) 0%, rgba(32, 58, 67, 0.7987570028011204) 48%, rgba(15, 32, 39, 0.7959558823529411) 100%);
    background: linear-gradient( 270deg, rgba(44, 83, 100, 0.8015581232492998) 0%, rgba(32, 58, 67, 0.7987570028011204) 48%, rgba(15, 32, 39, 0.7959558823529411) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#2c5364", endColorstr="#0f2027", GradientType=1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.character_container:nth-child(3) .char-content {
    background: rgb(247, 183, 51);
    background: -moz-linear-gradient(270deg, rgba(247, 183, 51, 0.7987570028011204) 0%, rgba(252, 74, 26, 0.8015581232492998) 100%);
    background: -webkit-linear-gradient(270deg, rgba(247, 183, 51, 0.7987570028011204) 0%, rgba(252, 74, 26, 0.8015581232492998) 100%);
    background: linear-gradient(270deg, rgba(247, 183, 51, 0.7987570028011204) 0%, rgba(252, 74, 26, 0.8015581232492998) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#f7b733", endColorstr="#fc4a1a", GradientType=1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.char-content {
    padding: 2%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    /*backdrop-filter: blur(10px);*/
    width: 100%;
    height: 100%;
    opacity: 0;
    display: grid;
    bottom: -85%;
    top: 85%;
    clip-path: polygon(50% 0, 100% 5%, 100% 100%, 0 100%, 0 5%);
    z-index: 5;
}

.char-content:target {
    bottom: 0.0%;
    top: 0.0%;
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%, 0 0%);
}

.char-content>p {
    color: white;
    transition: all 1.5s ease-in-out;
    opacity: 0;
    margin: 0;
    letter-spacing: 1.5px;
}

.tab-info {
    display: block;
    margin-top: 5vh;
    mix-blend-mode: difference;
    text-align: center;
}

.tab-info>p {
    color: rgb(193, 193, 193);
    font-weight: bold;
    margin: 0;
    text-shadow: 3px 2px 0px black;
    letter-spacing: 2px;
}

.tab-info>p:nth-child(1) {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 2em;
}

.tab-info>p:nth-child(2) {
    color: white;
    font-weight: 100;
    font-size: 20px;
    margin: 0;
}

.tab-info>p:nth-child(3) {
    color: rgb(195, 255, 31);
    font-size: 2.5em;
    line-height: 25px;
    letter-spacing: 15px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin: 0;
}

.character_container {
    flex: 1 0 25%;
    height: 100%;
    width: 100%;
    cursor: url(47989.png), auto;
}

@media (max-width: 807px) {
    .character_container {
        flex: 1 0 100%;
        height: 100vh;
        width: 100%;
    }
    #esc3 {
        height: 100%;
    }
    .char-head {
        background-position: center 100%;
    }
    .char-content {
        top: 0%;
        height: -webkit-fill-available;
        clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%, 0 0%) !important;
    }
    .link-container {
        display: none;
    }
}

.link-container {
    position: absolute;
    right: 10px;
    top: 50px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.text-content ul {
    margin: 0 !important;
    margin-block-start: 0 !important;
    padding-inline-start: 0 !important;
}

.text-content ul>li {
    color: white;
    font-size: 20px;
    text-align: left;
}

.text-content ul li>p {
    margin: 0;
    line-height: 1.7;
}